body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.product {
    margin: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: white;
}

.Hotspot {
    background-color: #ffffff;
    color: rgb(9, 47, 34);
    border-radius: 3px;
    padding: 3px;
}
.larger-example {
    width: 600px;
    height: 500px;
    background-color: rgb(208, 198, 182);
}
#model-info {
    display: none;
}
.visible {
    display: block;
}